@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">Acadon</h1>
<div style="height: 20em; overflow: hidden">
    <img src="/images/banner.jpeg" height="100%" class="center">
</div>
<h3 style="margin-top: 3%">E-dnevnik za učenike i nastavnike osnovnih i srednjih škola</h3>
<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
<b>
 Ova web-aplikacija služi za upravljanje podacima o učenicima škole.
 <br>
 Sastoji se od korisničkih interfejsa koji omogućavaju vršenje operacija
dodavanja, editovanja i brisanja podataka.
 <br>
 Trenutno je izvršen razvoj samo za predmete, kojima je moguće pristupiti
pomoću stavke menija na vrhu stranice.
 </b>
</div>
<br>
<h5>Video uputstvo korišenja Acadon e-dnevnika:</h5>
<iframe class="center" height="400"
        src="https://www.youtube.com/embed/pl-tBjAM9g4">
</iframe>
