:root {
    --text-primary: #1D1D1F;
    --text-secondary: #6E6E73;
    
    --primary-color: #0288D1;
    --secondary-color: #D3E3FD;
    --background-color: #F6F9FE;

    --success-color: #02A262;
    --success-light-color: #EDFDF5;
    --error-color: #F2542C;
    --error-light-color: #FFF7F5;

    --white: #FFFFFF;
    --black: #000000;

    --gray-light: #EAEBEF;
    --gray-medium: #CCCCCC;
    --gray-dark: #919191;
}