<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadon</title>
    <link rel="stylesheet" href="frame.css">
    <link rel="stylesheet" href="icons.css">
</head>
<body>
    <div class="header">
        <div class="header__left">
            <span class="header__acadon">Acadon</span>
        </div>
        <div class="header__right">
            <button class="header__user">KK</button>
        </div>
    </div>
    <div class="sidebar">
        <ul class="sidebar__list">
            <li class="sidebar__list__item active">
                <a href="#"><span class="material-symbols-rounded sidebar__list__item__icon">trending_up</span>Vladanje</a>
            </li>
            <li class="sidebar__list__item">
                <a href="#"><span class="material-symbols-rounded sidebar__list__item__icon">segment</span>Ocjene</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <!-- Sadrzaj -->
        <div style="background-color: orange; height: 1000px;"></div>
    </div>
</body>
</html>